<div class="ui middle aligned center aligned grid">
  <div class="column" style="width: 450px;">
    <h2 class="ui blue image header">
      <div class="content">
        Sign up
      </div>
    </h2>
    <%= form_for(resource, :html => {:class => "ui large form"}, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="ui stacked segment">
        <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><% if @minimum_password_length %><em>(<%= @minimum_password_length %> characters minimum)</em><% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "ui button large fluid submit green" %>
      </div>
      </div>
    <% end %>
    <div class="ui message">
      Already have an account? <%= link_to "Log in", new_session_path(resource_name) %><br/>
    </div>
  </div>
</div>