<h1>Accounts#index</h1>
<p>Welcome to your account list</p>

<%= render 'shared/deviselinks' %>
<%= link_to 'Edit Account', edit_user_registration_path %>
<%= link_to 'Add Account', new_account_path %>

<br />
<% unless @accounts == nil %>
  <% @accounts.each do |account| %>
    <% data = get_data(account)  %>

    <%= account.username %>
    <%= data["name"] %>
    <%= data["quota"] %> ----
    <%= data["total"] %> ----
    <%= data["ratio"] %>
    <%= link_to 'View', account_path(account.id) %>
    <%= link_to 'Edit', edit_account_path(account.id) %>
    <br/>
  <% end %>
<% end %>