<h1>Account Details</h1>

<%= link_to "Account List", accounts_path %>
<%= link_to "Edit", edit_account_path(@account) %>

<h1><%= @account.username %></h1>
<h1><%= @account.password %></h1>

<%= line_chart(parse_table_data(get_data(@account))) %>
